*{
    margin: 0;
    padding: 0;
    outline: 0;
}

.filter{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0;
}

body{
    background-color: lightcoral;
}

table{
    font-size: 1.15em;
    border-radius: 24px;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    border-collapse: collapse;
    border-spacing: 12px 12px 0 0;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(32, 32, 32,3);
    background: #fafafa;
    text-align: center;
    margin-top: 3%;
}

th,td{
    padding: 12px 15px;
}

th{
    background: #ba68c8;
    color: #fafafa;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}



@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);


body{
  background: black;
}

.info {
  color: white;
  font:1em/1 sans-serif;
  text-align: center;
}

.info a{
  color: white;
}

svg{
  width: 1000px;
  height: 120px;
  display: block;
  position: relative;
  overflow: hidden; 
  margin:  0 auto;
  background: black;
}


  